:root{
    --denim-600 : #558DB5;
    --link :#488E8D;
    --rustor-500: #9D6284;
    --sunny: #EAB51C;
}
.Header{
    padding: 1rem;
    margin-bottom: 2rem;
}
.Header h1{
    color:var(--sunny);
    font-weight: 800;
    font-size: 12em;
    text-align: left;
    text-transform: uppercase;
    -webkit-text-stroke: 4px var(--rustor-500);

}
.Header nav{
    display: flex;
    justify-content: center;
    justify-content: flex-start;


}


.Header a{
    display: flex;
    justify-content: center;
    padding: 12px;
    color: var(--link);
    font-size: 24px;
    font-weight: g00;

}