.Header{
    padding: 1rem;
    margin-bottom: 2rem;
}
.Header h1{
    color:rgb(164, 54, 14);
}
.Header nav{
    display: flex;
    justify-content: center;
}


.Header a{
    display: flex;
    justify-content: center;
    color: red;
}